body > * {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.container {
  width: 33vw;
  margin: auto;
}

.title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 20px 0px 20px 0px;
  width: 100%;
  position: relative;
  height: 200px;
}

.title-bar::before {
  content: "";
  background-image: url('../images/title-bar-background.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: -1;
  background-position: center;
}

#title {
  color: black;
  font-size: xx-large;
  font-weight: bolder;
}

.div-link {
  text-decoration: none;
}

.recipe-wrapper {
  text-align: center;
}

.recipe-wrapper > * {
  margin: 15px;
}

.recipe-title {
  font-size: large;
  font-weight: bold;
}

.recipe-image {
  border: 1px solid black;
  border-radius: 15px;
  width: 80%;
}

.tweet {
  margin-bottom: 10px;
}

.tweet:nth-child(odd) {
  margin-right: 150px;
}

.tweet:nth-child(even) {
  text-align: right;
  margin-left: 150px;
}

.tweet-text {
  font-weight: bold;
}

.tweet-username {
  font-size: small;
}